@import "tailwindcss";

/* This CSS is only used to edit the actual page on the web */

/* Status Icon */
#FrancisTRStatusAI {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 1.3em !important;
  height: 1.3em !important;
}
